@use "../../../styles/variables" as *;

.queryBuildingContainer {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: auto;
}

.queryTitle {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.queryBuildingContainer > * {
  margin-top: 1rem;
}

.emptyStateQueryContainer {
  height: 27.75rem;
}

.emptyQueryTitle {
  width: fit-content;
  margin: 0.5rem 0 1.5rem 0;
  font-family: $sans-serif-font;
}

.emptyQueryIcon {
  width: 7.5rem;
  height: 7.5rem;
  color: $gray-20;
}

.createQueryButton {
  width: fit-content;
  padding: 1rem !important;
}

.customQueryWrapper {
  background-color: white;
  padding-top: 1.5rem;
  border: 0.0625rem solid var(--gray-400, #dfe1e2);
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.1875rem 0 $drop-shadow;
}

.customQueryTable {
  width: 100%;
  margin: 0rem;
  border-collapse: collapse;
  background-color: transparent;
  border: none;

  td,
  th {
    padding-left: 1.5rem;
  }

  thead tr th {
    color: $input-field-border;
    background-color: white;
    font-family: "Public Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    border: none;
  }

  tbody tr {
    transition: background-color 0.3s ease;
    position: relative;
    height: 5rem;
  }

  tbody td {
    font-family: "Public Sans", sans-serif;
    font-size: 0.875rem;
    color: #000;
    max-width: 12rem;
    overflow: hidden;
    white-space: normal;
    position: relative;
    border: none;
  }

  .table-cell-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    gap: 0.5rem;
  }

  tbody td:last-child {
    opacity: 0;
    text-align: right;
    padding-right: 1.5rem;
    white-space: nowrap;
  }

  tbody tr:hover td:last-child,
  tbody td:last-child:hover {
    opacity: 1;
    pointer-events: auto;
  }

  tbody tr:after {
    position: absolute;
    width: 95.5%;
    border-bottom: 1px solid #f3f3f3;
    left: 2%;
    top: -2%;
    content: "";
  }
}

.icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
