@use "uswds-core" as *;

// taken as values from Figma
$query-connector-max-width: 45rem;
$query-connector-wide-max-width: 90rem;
$query-connector-content-margins: 13.75rem;

$margin-within-group: 0.75rem;
$margin-between-group: 2.5rem;

$background-hover-color: #d9e8f680;
$gray-cool-20: #c6cace;

$serif-font: family("heading");
$sans-serif-font: "Public Sans Web", family("body");
$mono-font: "Consolas", family("mono");
