@use "uswds-core" as *;

// taken as values from Figma
$query-connector-max-width: 45rem;
$query-connector-wide-max-width: 90rem;
$query-connector-content-margins: 13.75rem;

$margin--8px: 0.5rem;
$margin--16px: 1rem;
$margin--32px: 2rem;
$margin--40px: 2.5rem;

$background-hover-color: #d9e8f680;
$gray-cool-20: #c6cace;
$primary-darker: #162e51;

$serif-font: family("heading");
$sans-serif-font: "Public Sans Web", family("body");
$mono-font: "Consolas", family("mono");
