@use "_variables" as *;

header {
  background-image: linear-gradient(to right, $blue-60v, $cyan-50v);
}

footer {
  background-color: $footer;
}

.usa-step-indicator__segment:before {
  box-shadow:
    0 0 0 0.25rem $white,
    0 0 0 0 white !important;
}

.usa-step-indicator__segment-label,
.usa-step-indicator__segment:before {
  color: $stepper-inactive-text;
}

.usa-step-indicator__segment--current::before,
.usa-step-indicator__segment--current::after {
  background-color: $primary !important;
  color: $primary !important;
  box-shadow:
    0 0 0 0.25rem $white,
    0 0 0 0 $white !important;
}

.usa-current {
  color: $primary !important;
}

.usa-current::after {
  background-color: $primary !important;
}

.usa-button {
  background-color: $primary;

  &--unstyled {
    background-color: unset;
    color: $primary;
  }

  &--outline {
    background-color: $white;
    color: $primary;
    box-shadow: inset 0 0 0 2px $primary;
  }
}

.usa-accordion__button,
.usa-accordion__button:hover {
  background-color: $table-header;
  color: $text-primary;
}
