@use "uswds-core" as *;
@use "_tokens" as *;

// Pulled from the Design System Figma
// https://www.figma.com/design/Iuw9me6kYftBF4WTCEsCZz/Query-Connector?node-id=1856-3975

// Design system spacing
$query-connector-max-width: 45rem;
$query-connector-wide-max-width: 90rem;
$query-connector-content-margins: 13.75rem;
$query-connector-content-margins-wide: 10rem;
$query-connector-content-width-wide: calc(
  $query-connector-wide-max-width - 2 * $query-connector-content-margins-wide
);

$header-content-height: 3rem;
$footer-content-height: 5rem;
$default-table-padding: 1.5rem;
$site-alert-height: 2.5rem;

// Design system fonts
$serif-font: family("heading");
$sans-serif-font: "Public Sans Web", family("body");
$mono-font: "Consolas", family("mono");

$text-primary: $black;
$text-secondary: $gray-500;
$text-inactive: $gray-20;
$text-inactive-dark: $gray-600;

// Design System Color Tokens
$black: #000;
$white: #fff;

$brand-primary: $blue-cool-50; // branded text color
$brand-light: $blue-cool-20; // ??? is in the swatch
$brand-lighter: $blue-cool-10; // tertiary link text color
$brand-lightest: $blue-cool-5; // secondary button background
$brand-dark: $blue-cool-70; // secondary button text
$brand-darker: $blue-cool-80; // ??? is in the swatch

$accent-primary: $violet-warm-60; // primary CTA / info color
$accent-dark: $violet-warm-70; // CTA hover
$accent-darker: $violet-warm-80; // CTA active

$destructive-primary: #d54309; // primary error / info color
$destructive-dark: #b51d09; // error hover
$destructive-darker: #6f3331; // error active

$success-primary: #00a91c;
$success-light: #70e17b;
$success-lighter: #e3f5e1;
$success-dark: #216e1f;
$success-darker: #19311e;

$error-primary: #fb5a47;
$error-lighter: #fff3f2;
$error-light: #fdb8ae;
$error-dark: #b50909;
$error-darker: #5c1111;

$warning-primary: #fee685;
$warning-lighter: #fff5c2;
$warning-light: #fee685;
$warning-dark: #947100;
$warning-darker: #5c4809;

$background: $gray-100;
$background-dark: $gray-200;
$background-darker: $gray-300;
$background-darkest: $gray-500;

$border: $gray-400;
$border-light: $gray-300;
$border-dark: $gray-500;

$diabled: #c6cace;
$diabled-light: #edeff0;
$diabled-dark: #8d9297;

// Semantic tokens
$header: $brand-darker;
$footer: $brand-darker;

$hover-neutral: $gray-200;

$drop-shadow: $gray-200;
$focus-outline: $blue-40v;

$overlay-background: rgba(0, 0, 0, 0.5);
