@use "uswds-core" as *;
@use "_tokens" as *;

// Pulled from the Design System Figma
// https://www.figma.com/design/Iuw9me6kYftBF4WTCEsCZz/Query-Connector?node-id=1856-3975

// Design system spacing
$query-connector-max-width: 45rem;
$query-connector-wide-max-width: 90rem;
$query-connector-content-margins: 13.75rem;
$query-connector-content-margins-wide: 10rem;
$query-connector-content-width-wide: calc(
  $query-connector-wide-max-width - 2 * $query-connector-content-margins-wide
);

$header-content-height: 3rem;
$footer-content-height: 5rem;
$default-table-padding: 1.5rem;
$site-alert-height: 2.5rem;

// Design System Color Tokens
$black: #000;
$white: #fff;
$brand-darkest: #0f191c;
$brand-lightest: #e7f2f5;

$accent-primary: $violet-warm-60; // primary CTA / info color
$accent-primary--dark: $violet-warm-70; // CTA hover
$accent-primary--darker: $violet-warm-80; // CTA active

$brand-primary: $blue-cool-50; // branded text color
$brand-primary--light: $blue-cool-20; // ??? is in the swatch
$brand-primary--lighter: $blue-cool-10; // tertiary link text color
$brand-primary--lightest: $blue-cool-5; // secondary button background
$brand-primary--dark: $blue-cool-70; // secondary button text
$brand-primary--darker: $blue-cool-80; // ??? is in the swatch

$background: $gray-100;
$background-dark: $gray-300;

$drop-shadow: $gray-200;

$empty-state: $blue-100;
$highlight: $blue-100;
$info: $blue-100;

$diabled: $gray-20;
$hover-neutral: $gray-200;

// Semantic tokens
$header: $brand-primary--darker;
$footer: $brand-primary--darker;

$stepper-inactive: $gray-500;
$stepper-inactive-text: $gray-600;
$stepper-completed: $blue-500;

$input-field-border: $gray-500;

// TODO: DS - replace these with another brand color?
$info-background: $yellow-vivid-5v;
$no-results-background: #e8f5ff;
$pill-background: #e8f5ff;
$query-library-accordion-background: #f7f9fa;
$error: $red-300;
$error-border: #d73a49;
$error-background: #fce8e8;
$spinner-progress-segment-color: #3498db;
$table-header-color: #f0f0f0;
$success-toast-background: #ecf3ec;
$background-darkest: $gray-500;
$hover-blue: rgba(217, 232, 246, 0.5);
$border: $gray-400;
$border-dark: $gray-500;
$border-light: $gray-300;
$overlay-background: rgba(0, 0, 0, 0.5);

// Design system fonts
$serif-font: family("heading");
$sans-serif-font: "Public Sans Web", family("body");
$mono-font: "Consolas", family("mono");

$text-primary: $black;
$text-secondary: $gray-500;
$text-inactive: $gray-20;
$text-inactive--dark: $gray-600;
