@use "_variables" as *;

footer {
  background-color: $footer;
}

.usa-step-indicator__segment:before {
  box-shadow:
    0 0 0 0.25rem $white,
    0 0 0 0 white !important;
}

.usa-step-indicator__segment-label,
.usa-step-indicator__segment:before {
  color: $stepper-inactive-text;
}

.usa-step-indicator__segment--current .usa-step-indicator__segment-label {
  color: $primary-cta;
}

.usa-step-indicator__segment--current::before,
.usa-step-indicator__segment--current::after {
  background-color: $primary-background !important;
  color: $primary-cta !important;
  box-shadow:
    0 0 0 0.25rem $white,
    0 0 0 0 $white !important;
}

.usa-current {
  color: $primary-cta !important;
}

.usa-current::after {
  background-color: $primary-cta !important;
}

.usa-accordion__button,
.usa-accordion__button:hover {
  background-color: $table-header;
  color: $text-primary;
}

.usa-button {
  background-color: $primary-cta;
  &:hover {
    background-color: $primary-cta-hover;
  }
  &:active {
    background-color: $primary-cta-active;
  }

  &--outline {
    background-color: $secondary-cta;

    &:active,
    &:hover {
      background-color: $secondary-cta;
    }
  }

  &--unstyled {
    background-color: transparent !important;

    &:active,
    &:hover {
      background-color: transparent !important;
    }

    color: $tertiary-cta !important;
  }
}

.usa-modal__close {
  background-color: white;

  &:active,
  &:hover {
    background-color: white;
  }
}
