@use "variables" as *;

footer {
  background-color: $footer;
}

.destructive-primary {
  color: $destructive-primary;
}
.success-primary {
  color: $success-primary;
}
.error-primary {
  color: $error-primary;
}

.text-secondary {
  color: $text-secondary;
}

.usa-alert--info {
  background-color: $brand-lighter;
  border-left-color: $brand-primary;

  .usa-alert__body {
    background-color: $brand-lighter;
  }
  .usa-alert__body::before {
    background-color: $brand-dark;
  }
}

.usa-alert--success {
  background-color: $success-lighter;
  border-left-color: $success-primary;

  .usa-alert__body {
    background-color: $success-lighter;
  }
  .usa-alert__body::before {
    background-color: $success-dark;
  }
}

.usa-alert--warning {
  background-color: $warning-lighter;
  border-left-color: $warning-primary;

  .usa-alert__body {
    background-color: $warning-lighter;
  }
  .usa-alert__body::before {
    background-color: $warning-dark;
  }
}

.usa-alert--error {
  background-color: $error-lighter;
  border-left-color: $error-primary;

  .usa-alert__body {
    background-color: $error-lighter;
  }
  .usa-alert__body::before {
    background-color: $error-dark;
  }
}

.usa-step-indicator__segment:before {
  box-shadow:
    0 0 0 0.25rem $white,
    0 0 0 0 white !important;
}

.usa-step-indicator__segment-label,
.usa-step-indicator__segment:before {
  color: $text-inactive--dark;
}

.usa-step-indicator__segment--current .usa-step-indicator__segment-label {
  color: $brand-primary;
}

.usa-step-indicator__segment--current::before,
.usa-step-indicator__segment--current::after {
  background-color: $brand-primary;
  color: $brand-primary;
  box-shadow:
    0 0 0 0.25rem $white,
    0 0 0 0 $white !important;
}

.usa-current {
  color: $brand-primary !important;
}

.usa-current::after {
  background-color: $brand-primary !important;
}

.usa-accordion__button,
.usa-accordion__button:hover {
  background-color: $background-darker;
  color: $text-primary;
}

.usa-button {
  background-color: $accent-primary;
  box-shadow: inset 0 0 0 2px $accent-primary;

  &:hover,
  &--outline:hover {
    box-shadow: inset 0 0 0 2px $accent-dark;
    background-color: $accent-dark !important;
  }

  &:active,
  &--outline:active {
    box-shadow: inset 0 0 0 2px $accent-darker;
    background-color: $accent-darker !important;
  }

  &--outline {
    background-color: $white !important;
    color: $accent-primary;
  }
  &--outline:hover {
    background-color: $white !important;
    color: $accent-dark;
  }
  &--outline:active {
    background-color: $white !important;
    color: $accent-darker;
  }

  &--secondary {
    box-shadow: none;
    background-color: $brand-lightest;
    color: $brand-dark !important;
  }
  &--secondary:hover {
    box-shadow: none;
    background-color: $brand-lighter !important;
  }
  &--secondary:active {
    box-shadow: none;
    background-color: $brand-light !important;
  }

  &:disabled {
    box-shadow: none;

    cursor: not-allowed;
    opacity: 1;
    background-color: $diabled !important;
  }

  &--unstyled {
    box-shadow: none;

    color: $accent-primary;
    background-color: transparent !important;
  }
  &--unstyled:hover {
    box-shadow: none;

    color: $accent-primary;
    background-color: transparent !important;
  }
  &--unstyled:active {
    box-shadow: none;
    color: $accent-primary;
    background-color: transparent !important;
  }

  &--cancel {
    box-shadow: none;
    color: $white;
    background-color: $destructive-primary !important;
  }
  &--cancel:hover {
    box-shadow: none;
    color: $white;
    background-color: $destructive-dark !important;
  }
  &--cancel:active {
    box-shadow: none;
    color: $white;
    background-color: $destructive-darker !important;
  }
}

.usa-modal__close {
  background-color: white;

  &:active,
  &:hover {
    background-color: white;
  }
}

.usa-checkbox__input:checked + [class*="__label"]::before {
  background-color: $accent-primary !important;
  box-shadow: none !important;
}
