@use "_variables" as *;

footer {
  background-color: $footer;
}

.usa-step-indicator__segment:before {
  box-shadow:
    0 0 0 0.25rem $white,
    0 0 0 0 white !important;
}

.usa-step-indicator__segment-label,
.usa-step-indicator__segment:before {
  color: $text-inactive--dark;
}

.usa-step-indicator__segment--current .usa-step-indicator__segment-label {
  color: $accent-primary;
}

.usa-step-indicator__segment--current::before,
.usa-step-indicator__segment--current::after {
  background-color: $accent-primary;
  color: $accent-primary;
  box-shadow:
    0 0 0 0.25rem $white,
    0 0 0 0 $white !important;
}

.usa-current {
  color: $accent-primary !important;
}

.usa-current::after {
  background-color: $accent-primary !important;
}

.usa-accordion__button,
.usa-accordion__button:hover {
  background-color: $background-dark;
  color: $text-primary;
}

.usa-button {
  background-color: $accent-primary;

  &:hover {
    background-color: $accent-primary--dark !important;
  }

  &:active {
    background-color: $accent-primary--darker !important;
  }

  &--secondary {
    background-color: $brand-secondary--lighter;
    color: $brand-secondary--dark;
  }
  &--secondary:hover {
    background-color: $brand-secondary--dark !important;
  }
  &--secondary:active {
    background-color: $brand-secondary--darker !important;
  }

  &--unstyled {
    color: $brand-secondary--lighter;
    background-color: transparent !important;
  }
  &--unstyled:hover {
    color: $brand-secondary--lighter;
    background-color: transparent !important;
  }
  &--unstyled:active {
    color: $brand-secondary--lighter;
    background-color: transparent !important;
  }
}

.usa-modal__close {
  background-color: white;

  &:active,
  &:hover {
    background-color: white;
  }
}
