@use "../../../../ui/styles/_variables" as *;

.searchCallToActionButton {
  height: 2.5rem;
}

.selectQueryHeaderText {
  line-height: 2.0625rem;
  word-wrap: break-word;
  font-size: 2.5rem;
}

.selectQueryExplanationText {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  line-height: 2.0625rem;
  word-wrap: break-word;
  font-size: 1.375rem;
  width: 50.6875rem;
}

.queryRow {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .queryDropdownLabel {
    font-size: 1.15rem;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
}

.queryDropDown {
  margin-top: 0;
  display: flex;
  width: 20rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.queryDropdownLabel {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
