@use "../../../../../ui/styles/_variables" as *;

.demographicsTable thead tr th{
    color: $black;
    text-transform: none;
    font-size: 1.25rem;
}

.medicationsFixedTable table{
    table-layout: fixed;
    word-wrap: break-word;

    thead tr th{
        width: 32%;

        &:first-child{
            width:20%;
        }

        &:last-child{
            width:15%;
        }
    }
}