# Database connection string
DATABASE_URL=postgresql://postgres@localhost:5432/tefca_db

# Authentication settings
AUTH_DISABLED=false
AUTH_SECRET="ido5D/uybeAB3AmMQwn+ubw2zYC4t2h7RJlW2R79598="
LOCAL_KEYCLOAK=http://localhost:8081
NAMED_KEYCLOAK=http://localhost:8081

# Keycloak - set NEXT_PUBLIC_AUTH_PROVIDER to "keycloak"
# Entra ID - set NEXT_PUBLIC_AUTH_PROVIDER to "microsoft-entra-id" and AUTH_ISSUER to "https://login.microsoftonline.com/your-tenant-id/v2.0""
NEXT_PUBLIC_AUTH_PROVIDER=keycloak
AUTH_CLIENT_ID=query-connector
AUTH_CLIENT_SECRET=ZG3f7R1J3qIwBaw8QtttJnJMinpERQKs
AUTH_ISSUER=http://localhost:8081/realms/master

# API keys
ERSD_API_KEY=
UMLS_API_KEY=
AIDBOX_LICENSE=
AIDBOX_BASE_URL=http://localhost:8080

# Miscellaneous settings
APP_HOSTNAME=http://localhost:3000
DEMO_MODE=true
JAVA_TOOL_OPTIONS=-XX:UseSVE=0 # Leave empty if using M3, include for M1/4
