$columnGap: 0.5rem;

$conditionColumnSpacing: 3fr;
$observationColumnSpacing: 1fr 2fr 2fr;
$medicationColumnSpacing: 1fr 3fr 1fr;
$encountersColumnSpacing: 2fr 1fr 1fr 1fr;
$diagnosticsColumnSpacing: 1fr 3fr;
$demographicsColumnSpacing: 1fr 3fr;
$immunizationColumnSpacing: 1fr 3fr 1fr 1fr;

.demographicsRow {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: $columnGap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.conditionRow {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: $columnGap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.observationRow {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: $columnGap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.medicationRow {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: $columnGap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.encountersRow {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: $columnGap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.diagnosticsRow {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: $columnGap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.immunizationRow {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: $columnGap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
