@use "../../../ui/styles/_variables" as *;

.errorText {
  color: #d73a49;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  position: relative;;
  width: 100%;
}

.bgErrorLighter {
  background-color: #fce8e8;
}

.borderError {
  border: 2px solid #d73a49;
}

.textInputContainer {
  position: relative;
  display: inline-block;
}

.calendarIcon {
  position: absolute;
  right: 0.625rem;
  top: 55%;
  transform: translateY(-50%);
  pointer-events: none;
  align-items: center;
  justify-content: center;
}

.datePickerContainer {
  position: relative;
  display: inline-block;
  width: 100%;
}

.customDateRangeWrapper :global(.usa-form-group) {
  margin-top: 0.25rem;
}

.customDateRangeWrapper :global(.usa-date-range-picker__range-start) {
  padding-bottom: 1rem;
}

.datePickerModal {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  // width: max-content; // without this, the calendar looks somewhat squished
  margin-top: 0.5rem;
}

.clearButtonContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

.clearButton {
  background: none;
  border: none;
  color: #005ea2;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0;
}
