@use "../../../ui/styles/_variables" as *;

// Shared styles

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin-bottom: 0 !important;
  max-width: 70rem !important;
}

// Condition styles

.templateContainer {
  padding: 3.5rem 5rem;
  border-radius: 4px;
  min-height: 30rem;
  min-width: 100%;
}

.conditionSelectionForm {
  background-color: #fff;
  padding: 2rem;
  min-height: 25rem;
}

.querySelectionFormSearch {
  border: 1px solid #919191;
  border-radius: 4px;
  height: 1.5rem;
  padding: 0.75rem;
  min-width: 53rem;
}

#templateSearch:first-child {
  flex: 1;
}

.categoryHeading {
  text-transform: uppercase;
  color: $text-secondary;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.displayCol:first-of-type {
  border-right: 1px solid $table-row-border;
}

.displayCol:nth-of-type(2) {
  padding-left: 2rem;
}
.categoryOption {
  margin: 2rem 0;
}
.categoryOption:last-of-type {
  margin-bottom: 3rem;
}

.bluePill {
  background-color: #e8f5ff;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

// Value Set and Concept styles

.valueSetTemplateContainer {
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex: auto;
}

.valueSetTemplateContainer__inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.customQuery__name {
  .inputLabel {
    line-height: 1.375rem !important;
    margin-top: 0 !important;
  }

  .input {
    width: 20.75rem;
    height: 2.875rem;
  }
}

.queryBuildingButton {
  line-height: 28px;
  height: 3.75rem;
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
}

.valueSetSearch {
  width: 25rem !important;
  padding: 0.75rem 0.75rem 0.75rem 2.25rem !important;
  margin: 0 !important;
  height: 3rem !important;
}

.valueSetTemplate__left {
  display: flex;
  flex-direction: row;
  width: 18rem;
  min-width: 25%;
  justify-content: space-between;
  padding: 1rem 0 0 0.5rem !important;
}

.valueSetTemplate__right {
  background-color: #fff;
  width: 50rem;
  min-width: 70%;
  border-radius: 8px;
  margin-left: 0.5rem;
  min-height: 50rem;

  .codeLibrary__empty {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 1.5rem;
  }

  .icon {
    height: 10rem;
    width: 10rem;
  }

  .codeLibrary__emptyText {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.2;
    margin: 0;
  }

  .codeLibrary__button {
    width: 16.75rem;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    line-height: 26px;
  }
}

.valueSetTemplate__search {
  padding: 1.5rem;
  border-bottom: 1px #dfe1e2 solid;
}

.valueSetTemplate__accordion {
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #f7f9fa;
  padding: 1rem 1.5rem;
  border-bottom: 1px #dfe1e2 solid;
}

.accordionContainer {
  width: 100%;
}

.accordionInnerWrapper > div {
  padding: 0 !important;
  overflow: visible;
}

.accordionHeaderWrapper {
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.accordionBodyWrapper {
  background-color: transparent;
}

.accordionHeaderCount {
  font-size: 1rem !important;
  font-weight: 400 !important;
  background-color: #f7f9fa;
}

.accordionInnerWrapper > h4 {
  margin-top: 0 !important;
}

.accordionInnerWrapper > h4 > button {
  display: flex;
  word-wrap: break-word;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #f7f9fa;
  padding: 1rem 1.5rem;
  border-bottom: 1px #dfe1e2 solid;
  color: #111111;

  // override default accordion hover styles (headers should not change on hover):
  &:hover {
    background-color: #f7f9fa !important;

    .accordionHeaderCount {
      color: #111111;
    }
  }
}

.accordionWrapper > div {
  margin: 0.1rem 0rem;
  padding: 1rem 1.5rem;
}

.sideBarMenu {
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.5rem;
    gap: 2rem;

    .section_templates,
    .section_custom {
      gap: 1rem;
      display: flex;
      flex-direction: column;
    }
    .sectionTitle {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #919191;
      font-size: 1rem;
      line-height: 1.2;
    }

    .addCondition {
      font-size: 1rem;
      color: #005ea2;
      line-height: 18.8px;
      font-weight: 700;
      display: flex;
      align-items: center;

      :hover {
        cursor: pointer;
      }
    }
  }

  .deleteIcon {
    color: $error;
    width: 1.5rem;
    height: 1.5rem;
    display: none;
  }

  .card {
    background: transparent;
    border-radius: 4px;
    padding: 1rem;
    line-height: 22px;
    color: #111111;
    cursor: pointer;
    position: relative;

    &:hover .deleteIcon {
      display: inline-block;
      position: absolute;
      right: 2.5%;
      top: 25%;
    }
  }

  .active {
    background: #ffffff;
  }
}

.valueSetTemplate__titleCheckbox {
  text-transform: capitalize;
  background-color: #f7f9fa;
}

.valueSetTemplate__toggleRowHeader {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  width: 406px;
}

.valueSetTemplate__toggleRowHeader > svg {
  color: black;
}

.accordionBodyExpanded {
  padding: 1.5rem 1.5rem 0 3rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.accordionBodyExpanded {
  &:hover {
    background-color: rgba(217, 232, 246, 0.5) !important;

    .valueSetTemplate__checkbox {
      background-color: unset;
    }
    .viewCodesBtn {
      display: block;
      text-align: right;
      width: 4rem;
      line-height: normal;
      font-weight: 700;
      font-size: 14px;
      color: $text-blue;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .displayCount {
      display: none;
    }
  }
}

div.accordionBodyExpanded:last-of-type {
  border-bottom: 1px #dfe1e2 solid;

  .accordionExpandedInner {
    border-bottom: none !important;
  }
}

.accordionExpandedInner {
  border-bottom: solid 1px #dfe1e2;
  padding-bottom: 1rem;
  width: 100%;
}

.expandedContent {
  font-size: 1rem;
  font-weight: 400;
}

.expandedContent > div {
  text-transform: none !important;
  padding-right: 1rem;
}

.vsName {
  color: #111111;
}

.vsDetails {
  color: #919191;
  display: flex;
}

.accordionBodyExpanded__right {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  min-width: 4rem;
  justify-content: flex-end;
}

.customQuery__header > h1 {
  line-height: 2.5rem !important;
}

.customQuery__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.viewCodesBtn {
  display: none;
}

.conceptSelectionTable {
  display: grid;
}

$conditionColumnSpacing: 1.25rem 2fr 5fr;
$columnGap: 1rem;
.conceptSelectionRow {
  text-align: left;
  display: grid;
  grid-template-columns: $conditionColumnSpacing;
  column-gap: $columnGap;
  margin-top: 1.5rem;
  align-items: center;
}

.conceptCode {
  word-break: break-all;
}

.conditionDrawerHeader {
  color: $text-secondary;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  display: flex;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  justify-content: left;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.conditionItem {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 0.25rem;

  &:hover {
    background: $white;
  }
  &:hover .addButton {
    display: inline-block;
  }

  &:hover .addedStatus {
    display: inline-block;
  }
}

.addedStatus,
.addButton {
  font-size: 1rem;
  font-style: normal;
  line-height: 1.375rem;
  display: none;
}

.addButton {
  color: $text-blue;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
