@use "../../../styles/variables" as *;

// Condition styles

.conditionTemplateContainer {
  padding: 3.5rem 5rem;
  border-radius: 4px;
}

.conditionSelectionForm {
  background-color: #fff;
  padding: 2rem;
}

#conditionTemplateSearch:first-child {
  flex: 1;
}

.categoryHeading {
  text-transform: uppercase;
  color: $gray-500;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.displayCol:first-of-type {
  border-right: 1px solid $base-lighter;
}

.displayCol:nth-of-type(2) {
  padding-left: 2rem;
}
.categoryOption {
  margin: 2rem 0;
}
.categoryOption:last-of-type {
  margin-bottom: 3rem;
}

// Value Set and Concept styles

.valueSetTemplateContainer {
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex: auto;
}

.valueSetTemplateContainer__inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.valueSetSearch {
  width: 25rem !important;
  padding: 0.75rem 0.75rem 0.75rem 2.25rem !important;
  margin: 0 !important;
  height: 3rem !important;
}

.valueSetTemplate__left {
  display: flex;
  flex-direction: row;
  min-width: 18rem;
  justify-content: space-between;
  padding: 1rem 0.5rem !important;
}

.valueSetTemplate__right {
  background-color: #fff;
  width: 88%;
  border-radius: 8px;
  margin-left: 0.5rem;
  min-height: 50rem;
}

.valueSetTemplate__search {
  padding: 1.5rem;
  border-bottom: 1px #dfe1e2 solid;
}

.valueSetTemplate__accordion {
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #f7f9fa;
  padding: 1rem 1.5rem;
  border-bottom: 1px #dfe1e2 solid;
}

.conditionList {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  width: 100%;

  .controls {
    justify-content: space-between;
    padding: 0.5rem;
    display: flex;

    .conditionsTitle {
      width: 104px;
      color: #919191;
      font-size: 19px;
    }

    .addCondition {
      font-size: 1rem;
      color: #005ea2;
      line-height: 18.8px;
      font-weight: 700;
      display: flex;
      align-items: center;

      :hover {
        cursor: pointer;
      }
    }
  }

  .conditionCard {
    background: transparent;
    border-radius: 4px;
    padding: 1rem;
    line-height: 22px;
    margin-top: 0.5rem;
    color: #111111;
    cursor: pointer;
  }

  .active {
    background: #ffffff;
  }
}

.valueSetTemplate__toggleRowHeader {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  width: 406px;
}

.valueSetTemplate__checkbox {
  margin-left: 6.5px;
}
.valueSetTemplate__checkbox label {
  margin-top: 0 !important;
  padding-left: 2.25rem;
  background-color: #f7f9fa;
}
