@use "../../../../styles/_variables" as *;

.footerContainer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $primary-darker;
  overflow: scroll !important;
}

.cdcLogoContainer {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.cdcFooterTextContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;

  p {
    white-space: nowrap;
    margin: 0;
    overflow: scroll;
  }
}

@media (max-width: 64em) {
  .cdcFooterTextContainer {
    flex-direction: column;
    justify-content: flex-start;
  }
}
