.drawer-modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 35.1875rem;
  margin: 0 !important;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex-shrink: 0;
  z-index: 1050;
  background: var(--Gray-cool-gray-cool-2, #f7f9fa);
  border-left: 1px solid var(--gray-400, #dfe1e2);
}

.drawer-modal .usa-modal__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}
