@use "../../../../styles/_variables" as *;

.table {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  border: 1px solid $table-row-border;
  background: $white;
  padding: 1.5rem;
  box-shadow: 0px 2px 3px 0px $drop-shadow;

  thead tr {
    display: grid;
    align-items: center;
    border-bottom: 1px solid $table-row-border;
    width: 100%;
    border-bottom: 1px solid $table-row-border !important;
  }
  th {
    background-color: $white !important;
    color: $text-secondary !important;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    word-wrap: break-word;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-bottom: none !important;
    padding-left: 0 !important;
  }

  tr {
    display: grid;
    align-items: center;
    border-bottom: 1px solid $table-row-border;
  }

  tr:last-child {
    border-bottom: none;
  }

  td {
    border: none !important;
    padding: 2rem 0 !important;
  }
}
