@use "../../../ui/styles/_variables" as *;

.tab {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 0.5rem;
    margin-right: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    color: #757575;

    &__active {
        @extend .tab;
        font-weight: 700;
        border-bottom: 0.25rem solid #005ea2;
    }

    &:hover{
        text-decoration: none;
    }
}
