@use "../../../ui/styles/_variables" as *;

.checkbox {
  &.label,
  &:before {
    border-radius: 0.125rem;
  }
}
.checkbox label {
  margin-top: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkbox label::before {
  width: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
  box-shadow: 0 0 0 1px $black !important;
  position: static;
  margin: 0;
}

.checkbox input:checked + label::before {
  background-color: $accent-primary !important;
  box-shadow: none !important;
}

.isMinusCheckboxState input + label::before {
  background-image: url("minus.svg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $accent-primary;
  box-shadow: none !important;
}
