.container {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    border-bottom: 1px solid #71767a;
}

.active {
    border-bottom: 4px solid #005ea2;
    padding-bottom: 0.5rem;
}

.tabLabel {
    color: #565c65;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22.4px;
    font-size: 1rem;
    padding: 0rem 2rem 0rem 0rem;
    cursor: pointer;

    .active {
        font-weight: 700;
        line-height: 18.8px;
    }
}
