@use "../../ui/styles/variables" as *;

.mainContainer {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-bottom: 0 !important;
    font-family: "Public Sans", sans-serif !important;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2.875rem;
        margin-top: 2.5rem;
    }

    .section {
        &__title {
            margin: 2rem 0 1rem 0;

            h2 {
                font-size: 1.75rem;
            }
        }

        &__content {
            border-radius: 0.5rem;
            padding: 1.5rem;
            background-color: #f3f3f3;
            color: #111;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }

        &__input {
            flex: 1;

            input,
            select {
                border-radius: 0.25rem;
                border: solid 1px #919191;
            }
        }
    }

    .vsDescription {
        .section__input:first-of-type {
            max-width: 25.75rem;
            flex: 1 auto !important;
        }
    }

    .codes {
        margin-bottom: 3rem;

        .section__content {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 1.5rem;
            padding: 1rem;

            .addCodeContainer {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 1rem;
                max-height: 40rem;
                overflow-y: scroll;
                padding: 0.5rem;
            }

            .addCodeBtn {
                border: none !important;
                color: #0076d6;
                background: transparent;
                padding: 0 0.5rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .addCodeRow {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
            gap: 1.5rem;

            div {
                width: 25.75rem;

                &:first-of-type {
                    max-width: 13.875rem;
                    flex: 0 auto !important;
                }
            }

            &:hover {
                .deleteIcon {
                    display: block;
                    cursor: pointer;
                }
            }
        }

        .deleteIcon {
            margin-bottom: 0.5rem !important;
            color: #919191 !important;
            display: none;
        }
    }
}
