@use "../../styles/variables" as *;

.queryBuildingContainer {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: auto;
}

.queryTitle {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.queryBuildingContainer > * {
  margin-top: 1rem;
}

.emptyStateQueryContainer {
  height: 27.75rem;
}

.emptyQueryTitle {
  width: fit-content;
  margin: 0.5rem 0 1.5rem 0;
  font-family: $sans-serif-font;
}

.emptyQueryIcon {
  width: 7.5rem;
  height: 7.5rem;
  color: $gray-cool-20;
}

.createQueryButton {
  width: fit-content;
  padding: 1rem !important;
}

.customQueryWrapper {
  background-color: white;
  padding: 1.5rem;
  border: 0.0625rem solid var(--gray-400, #DFE1E2);
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.1875rem 0 #F3F3F3;
}

.customQueryTable {
  width: 100%;
  margin: 0rem;
  border-collapse: collapse;
  background-color: transparent;
  border: none;

  thead tr th {
    color: var(--gray-500, #919191);
    background-color: white;
    font-family: "Public Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    padding: 0; 
    border: none;
  }

  tbody tr {
    transition: background-color 0.3s ease;
    position: relative;
    height: 5rem;
  }

  // Using default hover for now
  // tbody tr:hover {
  //   background: rgba(217, 232, 246, 0.50);
  // }

  tbody td {
    font-family: "Public Sans", sans-serif;
    font-size: 0.875rem;
    color: #000;
    border-top: 0.0625rem solid #F3F3F3;
    border-bottom: 0.0625rem solid #F3F3F3;
    max-width: 12rem;
    overflow: hidden;
    white-space: normal;
    padding-left: 0;
    position: relative; 
  }

  tbody td:hover {
    background: rgba(217, 232, 246, 0.50);
    white-space: normal; 
    overflow: visible;
    text-overflow: unset;  
  }


  .table-cell-buttons {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    gap: 0.5rem;
  }

  tbody td:last-child {
    opacity: 0;
    text-align: right;
    padding-right: 1.5rem;
    white-space: nowrap;
  }

  tbody tr:hover td:last-child,
  tbody td:last-child:hover {
    opacity: 1;
    pointer-events: auto;
    }
}

// Enable an alternative hover over feature for the titles 
// .customQueryTable tbody td[title] {
//   cursor: help;
// }

// .customQueryTable tbody td[title]:hover::after {
//   content: attr(title);
//   position: absolute;
//   background-color: rgba(0, 0, 0, 0.75);
//   color: white;
//   padding: 0.5rem;
//   border-radius: 0.25rem;
//   font-size: 0.75rem;
//   white-space: nowrap;
//   top: -1.5rem;
//   left: 0;
//   z-index: 999;
// }

.icon-text {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}