@use "../../styles/variables" as *;

.queryBuildingContainer {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: auto;
}

.queryTitle {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.queryBuildingContainer > * {
  margin-top: 1rem;
}

.emptyStateQueryContainer {
  height: 27.75rem;
}

.emptyQueryTitle {
  width: fit-content;
  margin: 0.5rem 0 1.5rem 0;
  font-family: $sans-serif-font;
}

.emptyQueryIcon {
  width: 7.5rem;
  height: 7.5rem;
  color: $gray-cool-20;
}

.createQueryButton {
  width: fit-content;
  padding: 1rem !important;
}

.customQueryTable {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid #ccc;

  thead tr th {
    color: var(--gray-500, #919191);
    background-color: white;
    font-family: "Public Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    border: none;
  }

  tbody tr {
    transition: background-color 0.3s ease;
  }

  tbody tr:hover {
    background: rgba(217, 232, 246, 0.50);
  }

  tbody td {
    font-family: "Public Sans", sans-serif;
    font-size: 0.875rem;
    color: #000;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1.5rem;
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tbody tr:hover td {
    overflow: visible;
    white-space: normal;
    position: relative;
    z-index: 10;
  }

  tbody td:last-child {
    text-align: right;
    padding-right: 1.5rem;
    white-space: nowrap;
  }
}
