@use "../../../ui/styles/_variables" as *;
@use "uswds-core" as *;

@media screen and (min-width: 992) {
  .footerContainer__mobile {
    display: none !important;
  }
  .footerContainer__desktop {
    display: block !important;
  }
}

@media screen and (max-width: 639) {
  .footerContainer__mobile {
    .stacked p {
      white-space: wrap;
      margin-top: 0.5rem;
    }
  }
}

.footerContainer {
  padding: 1.25rem 0;
  background-color: $brand-darkest;

  &__mobile {
    display: block;

    .stacked {
      align-items: center !important;

      img {
        margin-right: 0.5rem !important;
      }
    }
  }

  &__desktop {
    display: none;
    max-width: $application-wide-max-width;
  }
}

.textContainer {
  align-items: center;
  background-color: inherit;

  &__left {
    justify-content: flex-start;
  }

  &__right {
    justify-content: flex-end;
  }

  img {
    margin-right: 1rem;
  }

  p {
    white-space: nowrap;
    margin: 0;
  }
}
