.fhirServersRow {
  grid-template-columns: 1fr 2fr 2fr;
  vertical-align: middle;
  margin: 0 !important;
  padding: 0 1.5rem;
  td {
      padding: 1rem;
      background-color: transparent;
    }
}

.mainContainer {
  max-width: 80%;
  padding: 2rem;
}

.titleContainer {
  max-width: 100%;
  margin-left: none;
  margin-right: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lastChecked {
  color: #71767A;
  margin-left: 0.25rem;
  margin-left: 0.5rem;
  font-size: 0.875rem;
}

.tableRowHover {
  transition: background-color 0.2s ease;
  border-collapse: collapse;

  &:hover,
  &:hover > td {
    background-color: rgba(217, 232, 246, 0.50);
    cursor: default;

    .editButton {
      opacity: 1;
      visibility: visible;
    }
  }

  .editButton {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #005ea2; // USWDS primary blue color
    
    &:hover {
      color: #1a4480; // Darker blue on hover
    }
  }
}
