.mainContainerWider {
  max-width: 74rem;
  width: 100%;
  margin: auto;
  margin-bottom: 5rem;
  margin-top: 1.5rem;
  padding: 0 !important;
  flex: 1 1 auto;
}

.auditTableContainer {
  justify-content: space-between; 
  align-items: center;
  width: 70rem;

}

.auditTable {
display: flex;
padding: 1.5rem;
align-items: flex-start;
border-radius: 0.25rem;
border: 1px solid var(--gray-400, #DFE1E2);
background: var(--white, #FFF);
box-shadow: 0px 2px 3px 0px #F3F3F3;
}


.searchContainer {
display: flex;
width: 70rem;
align-items: center;
gap: 0.5rem;
}

.inputGroup {
  display: flex;
  width: 13.0625rem;
  flex-direction: column;
  align-items: flex-start;
}


.searchField {
  display: flex;
  width: 25rem;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.75rem;
  margin-left: 4.25rem;
}

.tableHeader {
  flex: 1 0 0;
  color: var(--text-secondary, var(--gray-500, #919191));
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
  text-transform: uppercase;
}

.tableHeader:first-child {
  width: 13rem;
}

.tableHeader:nth-child(2) {
  width: 41.5rem;
}

.tableHeader:nth-child(3) {
  width: 12.5rem;
  
}

.tableRows {
  height: 4.25rem;
}

.tableRows td:nth-child(3) {
  white-space: nowrap;
}


.paginationContainerWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.paginationContainer {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-400, #DFE1E2);
  background: var(--white, #FFF);
  margin-left: -2rem;
}

.paginationText {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin: 0rem;
}

.paginationText a {
  text-decoration: none;
}

.actionsPerPageContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 0;
}

.actionsPerPageContainer label {
  white-space: nowrap;
  flex-shrink: 0;
}

.actionsPerPageDropdown {
  display: flex;
  width: 5.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}