@use "_variables" as *;

.searchCallToActionContainer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
}

.searchFormContainer {
  margin-top: $margin-within-group;
  padding: 1.5rem;
}

.demoQueryFiller {
  background: #faf3d1;
  border: 1px solid #fee685;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.demoQueryDropdownContainer {
  display: flex;
  gap: 2rem;
}

.searchFormSectionLabel {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-size: 1.375rem;
  font-weight: 700;
}
