@use "../../../../ui/styles/_variables" as *;

.accordionInstance {
  margin-bottom: 2rem;
}

.accordionWrapper > h3 {
  font-size: 1.75rem;
  color: white !important;
  background-color: $table-header;

  &:hover {
    background-color: $table-header;
  }
}

.accordionWrapper > div {
  margin: 0.1rem 0rem;
  padding: 1rem 1.5rem;
}

.accordionWrapper {
  button,
  button:hover {
    background-image: url("../../../../ui/styles/assets/expandUp.svg");
  }

  button[aria-expanded="false"],
  button[aria-expanded="false"]:hover {
    background-image: url("../../../../ui/styles/assets/expandDown.svg");
  }
}

.accordionHeading {
  font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", "sans-serif" !important;
  font-size: 1.25rem !important;
  line-height: 1.1 !important;
}

.resultsBannerContent {
  display: flex;
  align-items: center;
}
