@use "../../ui/styles/_variables" as *;

.roleDescriptions {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.roleDropdown {
  padding: 0.75rem !important;

  select {
    margin: 0 !important;
  }
}

.userGroupsTable,
.userPermissionsTable {
  display: table;
  table-layout: fixed;
  width: 100%;

  tr {
    &:focus-within,
    &:hover {
      button.hoverBtn {
        display: block;
      }
    }
  }

  td {
    max-width: 0;
  }
}

.drawerButton,
.drawerButton:disabled,
.drawerButton:disabled:hover {
  text-decoration: none !important;
  margin: 0 !important;
}

.buttonHoverGroup {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;

  button.hoverBtn {
    display: none;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
