@use "../../../ui/styles/_variables" as *;

$drawerWidth: 29rem;

.drawer {
  position: fixed;
  top: 0;
  width: calc(max($drawerWidth, 30%));
  height: 100%;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex-shrink: 0;
  transition: right 0.3s ease;
  z-index: 1050;
  border-left: 1px solid $border;
  background: $page-background;
  max-height: 100%;

  input[type="search"] {
    display: flex;
    padding: 0.75rem 0.75rem 0.75rem 2.25rem !important;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid $input-field-border;
    background-color: $white;
  }
}

.drawer.open {
  right: 0;
}

.drawer.closed {
  right: -1 * $drawerWidth;
}

.drawerContent {
  padding: 2rem;
  width: 100%;
}

.drawerHeader {
  width: 25rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.subtitle {
  color: $gray-600;
  display: flex;
  padding-bottom: 1rem;
  margin: 0;
}
